<h2>User Details</h2>
<div>
    <table class="user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>
              <!-- <a routerLink = "/user" routerLinkActive = "active"> -->
              {{user.name}}
            <!-- </a> -->
          </td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}
                <br>
                Lat: {{user.address.geo.lat}}, Lng: {{user.address.geo.lng}}
            </td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
            <td>{{user.company.name}}
                <br>{{user.company.catchPhrase}}, {{user.company.bs}}</td>
            
        </tr>
        </tbody>
    </table>
</div>
<!-- <router-outlet></router-outlet> -->